# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp

# dependencies
/public/bower_components
/src/assets/bower_components
!node_modules
node_modules/*
#include depracated library as typings are not available online anymore
!node_modules/ng2-device-detector

# IDEs and editors
/.idea
/.vs
.project
.classpath
*.launch
.settings/

# misc
/.sass-cache
/connect.lock
/coverage/*
/libpeerconnection.log
npm-debug.log
testem.log
/typings

# e2e
/e2e/*.js
/e2e/*.map

#System Files
.DS_Store
Thumbs.db

/src/assets/styles/_theme_selector.scss
.vscode/
