<div class="bf-box orange layout-extras-view">
  <section class="content">
    <div class="title-and-logo-container">
      <h3 class="extras-title">
        <iron-icon icon="toc:info" (click)="showInfo()"></iron-icon>
        <span>PlusBus</span>
      </h3>

      <img src="assets/img/logos/plusbus.png" alt="PlusBus Logo" class="plus-bus-logo extras-logo">
    </div>

    <p class="extras-info">Unlimited bus and tram travel (on most journeys).</p>
    <ul class="extras-listing has-items-added" *ngIf="plusBuses.length > 0">
      <li class="extra-item" *ngFor="let option of plusBuses;let i = index">
        <div class="extra-head">
          <div class="extra-head-text">{{option.name}}</div>
          <div class="extra-controls">
            <app-button btn-type="link"  [hidden]="isPendingRemoval(option)" [routerLink]="['./add/plusbus']" (click)="edit(option)">Change</app-button>
            <span  [hidden]="isPendingRemoval(option)" class="pipe">|</span>
            <app-button btn-type="link"  [isLoading]="isPendingRemoval(option)" (click)="remove(option)">Remove</app-button>
          </div>
        </div>
        <div class="extra-desc">
          <div>{{option.date}}</div>
          <div class="extra-price">{{option.totalcost | currency:'GBP':true:'1.2-2'}}</div>
        </div>
      </li>
    </ul>

    <ul class="extras-listing has-no-items-added" *ngIf="plusBuses.length === 0">
      <li class="extra-item">
        <div class="extra-head">
          <div class="extra-head-text">
            Add a PlusBus ticket to your journey
          </div>
          <div class="extra-controls">
            <app-button [routerLink]="['./add/plusbus']" btn-fxm="{'type': 'button', text: 'Add', 'icon': '', section: 'plusbus'}" data-elid="plusbuss-add-button">Add</app-button>
          </div>
        </div>
      </li>
    </ul>
  </section>
</div>
