@import "../../../assets/styles/variables";

@media screen and (max-width: $breakpoint-phone) {
  :host-context(.sticky-button-feature) {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: $bf-colour-background-footer;
    z-index: 1000;
    margin-bottom: 0;
    margin-top: 0;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;

    /deep/ app-button {
      margin-top: 0;
    }
  }

  :host{
    text-align: center;
  }
}