@import "../../../assets/styles/components/ng_components_shared";

.delivery-summary .price {
  font-weight: normal;
  align-self: flex-end;
}

.btn-link {
  padding: 0;
  font-weight: bold;
  color: #009688;
}
