{
    "defaultApiBaseUrl": "#{RetailHubApi.Url}",
    "defaultSitecoreApiUrl": "#{Urls.MainSite}",
    "myAccount": "#{Urls.MyAccount}",
    "tagManagerContainer": "#{GTM.Container}",
    "recaptchaSiteKey": "#{Captcha.SiteKey}",
    "domainName": "#{SSLDomainName}",
    "cookieDomain": ".#{CookieDomain}",
    "appVersion":  "#{appVersion}",
    "secureCookies": #{SecureCookies},
    "phoneSleeperReservation": "#{phoneNumberForSleeperReservation}",
    "beaconScriptUrl": "#{BeaconScriptUrl}",
    "futureBookingDateDays": 168,
    "futureBookingDateMonths": 6,
    "deliveryBookingTimeAvailabilityMinutes": 10,
    "recommendedNlcs": [
        "2968",
        "8487",
        "6691",
        "8437",
        "7728",
        "9328",
        "8263"
    ],
    "data": {
        "links": {
            "contactUs": "#{Urls.ContactUs}",
            "travellingWithBike": "#{Urls.TravellingWithBike}",
            "checkYourJourney": "#{Urls.CheckYourJourney}",
            "nightRivieraSleeper": "#{Urls.NightRivieraSleeper}",
            "footer": [#{Links.Footer}],
            "privacyPolicy": "#{Urls.PrivacyPolicy}",
            "termsAndConditions": "#{Urls.TermsAndConditions}",
            "assistedTravel": "#{Urls.AssistedTravel}",
            "metroInfo": "#{Urls.MetroInformation}"
        }
    }
}
