<div class="cff-assisted-travel-section">
  <div class="cff-assisted-travel-section--left">
    <iron-icon icon="toc:accessibility" class="cff-assisted-travel-icon"></iron-icon>
  </div>
  <div class="cff-assisted-travel-section--right">
    <p class="cff-assisted-travel-message">It is not possible to access First Class in a wheelchair on some operators trains.
      Please check with our
      <a href="{{ assistedTravelLink }}" target="_blank" rel="noopener noreferrer">Passenger Assist team</a> before booking.
    </p>
  </div>
</div>
