.bike-section {
  display: flex;
}

.extras-info-no-reservations {
  color: #0a493e;
  font-style: italic;
  font-size: 16px;
  font-family: "Univers W01", Arial, sans-serif;
  line-height: 1.5;
  margin-left: 28px;
  -webkit-font-smoothing: antialiased;
}
