.color-strip {
  height: 4px;
  background-color: #0D3894;
}
h1 {
  font-size: 1.5em;
}
p {
  margin-bottom: 0.5em;
}
h2 {
  font-size: 1em;
  margin: 2em 0 0.5em 0;
}

.total-row {
  font-size: 1.4em;
  margin-bottom: 1em;
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -1em;
  margin-left: -13px;
}

.modal-header-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding-right: 25px;
  padding-top: 20px;
  padding-bottom: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;

  h1 {
    margin: 0;
    padding: 0;
  }

  iron-icon {
    flex-basis: 24px;
    margin-top: 2px;
    margin-right: 4px;
    min-width: 24px;
  }
}

.container-fluid {
  padding: 0 23px 23px;
}
