@import "../../../assets/styles/helpers";
@import "../../../assets/styles/variables";
@import "../../../assets/styles/typography";

.journey-nav {
  text-decoration: none;
  display: inline-block;
  color: $bf-colour-journey-nav;
  
  [icon] {
    transform: scale(2);
    fill: $bf-colour-journey-nav;
  }
  cursor: pointer;
}
